// named.conf
options {
  listen-on port 53 { any; };
  directory "/var/named";
  dump-file "/var/named/data/cache_dump.db";
  statistics-file "/var/named/data/named_stats.txt";
  memstatistics-file "/var/named/data/named_mem_stats.txt";
  allow-query { any; };
  recursion yes;
  /* Path to ISC DLV key */
  bindkeys-file "/etc/named.iscdlv.key";
};
logging {
  channel default_debug {
    file "data/named.run";
    severity dynamic;
  };
};
zone "{{ domain }}" IN {
  type master;
  file "zones/{{ domain }}.db";
  allow-update { key {{ domain }} ; } ;
};
